<template>
  <div class="signup">
    <div class="signup__container container">
      <div class="signup__inner">
        <div class="signup__logo">
          <figure class="signup__logo-image image--initial image--loaded ratio" role="img">
            <img class="image__img" src="../../assets/logo.png" alt="logo">
          </figure>
        </div>

        <h3 class="signup__title">Đăng ký</h3>
        <form class="signup__form">
          <div class="signup__form-inner">
            <div class="text-input">
              <input id="phone" class="text-input__el" type="text" placeholder="Nhập số điện thoại của bạn" />
              <label for="phone" class="text-input__label">Số điện thoại (Tên đăng nhập)</label>
              <p class="text-input__error p1">Số điện thoại (Tên đăng nhập) không hợp lệ.</p>
            </div>

            <div class="text-input">
              <span class="text-input__tag h6 green-1">.bzi.vn</span>
              <input id="domain" class="text-input__el" type="text" placeholder="VD: trungphan" />
              <label for="domain" class="text-input__label">Đặt tên cho gian hàng của bạn</label>
              <p class="text-input__error p1">Số điện thoại (Tên đăng nhập) không hợp lệ.</p>
            </div>

            <div class="text-input">
              <input id="password" class="text-input__el" type="number" placeholder="Nhập mật khẩu" />
              <label for="password" class="text-input__label">Mật khẩu</label>
              <p class="text-input__error p1">Mật khẩu không hợp lệ.</p>
            </div>

            <div class="text-input">
              <input id="re-password" class="text-input__el" type="number" placeholder="Xác nhận lại mật khẩu" />
              <label for="re-password" class="text-input__label">Nhập lại mật khẩu</label>
              <p class="text-input__error p1">Mật khẩu không hợp lệ.</p>
            </div>

            <div class="group-radio">
              <div class="radio-input">
                <input id="nha-cung-cap" class="radio-input__el" type="radio" />
                <label for="nha-cung-cap" class="radio-input__label">Nhà cung cấp</label>
              </div>
              <div class="radio-input">
                <input id="nha-ban-hang" class="radio-input__el" type="radio" />
                <label for="nha-ban-hang" class="radio-input__label">Nhà bán hàng</label>
              </div>
            </div>

            <button type="submit" name="signup-submit" class="signup__submit button button--primary">
            <span class="button__el">
              <span class="button__text">Đăng ký</span>
            </span>
            </button>
            <p class="signup__text align-c">
              <span>Bạn đã có tài khoản?</span>
              <a class="h6 blue" href="#">Đăng nhập ngay</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
      }
    }
  }
</script>
