<template>
  <div class="order">
    <div class="order__header">
      <div class="order__header-container container">
        <div class="order__header-nav f jcb aic">
          <div class="order__header-prev f jcs aic">
            <h5 class="order__title h5">Đơn hàng</h5>
          </div>
          <div class="order__header-action">
            <button class="order__header-button button button--primary">
              <span class="button__el">
                <span class="button__icon"><svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.833 6.833h-5v5H5.167v-5h-5V5.167h5v-5h1.666v5h5v1.666Z" fill="#fff"/></svg></span>
                <span class="button__text">Thêm mới</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="order__search">
      <div class="order__container container">
        <div class="order__header-search f jcs aic">
          <div class="text-input text-input--search">
            <span class="text-input__icon">
              <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m13.89 13.574-3.308-3.308c-.082-.055-.164-.11-.246-.11H9.98a5.726 5.726 0 0 0 1.395-3.719C11.375 3.32 8.805.75 5.687.75 2.543.75 0 3.32 0 6.438a5.683 5.683 0 0 0 5.688 5.687c1.421 0 2.707-.52 3.718-1.367v.355c0 .082.028.164.082.246l3.309 3.309c.137.137.355.137.465 0l.629-.629c.136-.11.136-.328 0-.465Zm-8.203-2.761a4.353 4.353 0 0 1-4.375-4.376 4.37 4.37 0 0 1 4.375-4.375 4.388 4.388 0 0 1 4.375 4.376 4.37 4.37 0 0 1-4.374 4.375Z" fill="#28293D"/></svg>
            </span>
            <input id="phone" class="text-input__el" type="text" placeholder="Tìm Kiếm" />
          </div>
          <div class="hamburger">
            <span class="hamburger__icon">
              <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12h18v-2H0v2Zm0-5h18V5H0v2Zm0-7v2h18V0H0Z" fill="#24695C"/></svg>
            </span>
            <!-- if notification -->
            <!--
            <span class="hamburger__notification">
              <svg viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="#FF3B3B"/></svg>
            </span>
            -->
          </div>
        </div>
      </div>
    </div>

    <div class="order__list">
      <div class="order__list-container container">
        <div class="order__list-inner">
          <div class="order__item">
            <div class="order__item-inner">
              <div class="order__item-head f jcb aic">
                <h6 class="order__item-title blue uppercase">TRUNGPHAN1001000</h6>
                <button class="order__item-button button button--red">
                  <span class="button__el">
                    <span class="button__text">Chưa thanh toán</span>
                  </span>
                </button>
              </div>
              <div class="order__item-body">
                <div class="order__item-group f jcb aic">
                  <p class="order__item-phone-label second">Số điện thoại</p>
                  <p class="order__item-phone-value black">0929028338</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-total-label second">Tổng sản phẩm</p>
                  <p class="order__item-total-value black">3 sản phẩm</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-accept-label second">Đã xác nhận</p>
                  <p class="order__item-accept-value green-1 bold">1.200.000VNĐ</p>
                </div>
              </div>
              <div class="order__item-footer f jcb aic">
                <div class="order__item-profit-group">
                  <p class="order__item-profit-text second">Lợi nhuận</p>
                  <p class="order__item-profit-price green-1 price-large">6.000.000 VNĐ</p>
                </div>
                <button class="order__item-order-cancel button button--border">
                  <span class="button__el">
                    <span class="button__text">Hủy đơn</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="order__item">
            <div class="order__item-inner">
              <div class="order__item-head f jcb aic">
                <h6 class="order__item-title blue uppercase">TRUNGPHAN1001000</h6>
                <button class="order__item-button button button--red">
                  <span class="button__el">
                    <span class="button__text">Chưa thanh toán</span>
                  </span>
                </button>
              </div>
              <div class="order__item-body">
                <div class="order__item-group f jcb aic">
                  <p class="order__item-phone-label second">Số điện thoại</p>
                  <p class="order__item-phone-value black">0929028338</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-total-label second">Tổng sản phẩm</p>
                  <p class="order__item-total-value black">3 sản phẩm</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-accept-label second">Đã xác nhận</p>
                  <p class="order__item-accept-value green-1 bold">1.200.000VNĐ</p>
                </div>
              </div>
              <div class="order__item-footer f jcb aic">
                <div class="order__item-profit-group">
                  <p class="order__item-profit-text second">Lợi nhuận</p>
                  <p class="order__item-profit-price green-1 price-large">6.000.000 VNĐ</p>
                </div>
                <button class="order__item-order-cancel button button--border">
                  <span class="button__el">
                    <span class="button__text">Hủy đơn</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="order__item">
            <div class="order__item-inner">
              <div class="order__item-head f jcb aic">
                <h6 class="order__item-title blue uppercase">TRUNGPHAN1001000</h6>
                <button class="order__item-button button button--red">
                  <span class="button__el">
                    <span class="button__text">Chưa thanh toán</span>
                  </span>
                </button>
              </div>
              <div class="order__item-body">
                <div class="order__item-group f jcb aic">
                  <p class="order__item-phone-label second">Số điện thoại</p>
                  <p class="order__item-phone-value black">0929028338</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-total-label second">Tổng sản phẩm</p>
                  <p class="order__item-total-value black">3 sản phẩm</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-accept-label second">Đã xác nhận</p>
                  <p class="order__item-accept-value green-1 bold">1.200.000VNĐ</p>
                </div>
              </div>
              <div class="order__item-footer f jcb aic">
                <div class="order__item-profit-group">
                  <p class="order__item-profit-text second">Lợi nhuận</p>
                  <p class="order__item-profit-price green-1 price-large">6.000.000 VNĐ</p>
                </div>
                <button class="order__item-order-cancel button button--border">
                  <span class="button__el">
                    <span class="button__text">Hủy đơn</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="order__item">
            <div class="order__item-inner">
              <div class="order__item-head f jcb aic">
                <h6 class="order__item-title blue uppercase">TRUNGPHAN1001000</h6>
                <button class="order__item-button button button--red">
                  <span class="button__el">
                    <span class="button__text">Chưa thanh toán</span>
                  </span>
                </button>
              </div>
              <div class="order__item-body">
                <div class="order__item-group f jcb aic">
                  <p class="order__item-phone-label second">Số điện thoại</p>
                  <p class="order__item-phone-value black">0929028338</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-total-label second">Tổng sản phẩm</p>
                  <p class="order__item-total-value black">3 sản phẩm</p>
                </div>
                <div class="order__item-group f jcb aic">
                  <p class="order__item-accept-label second">Đã xác nhận</p>
                  <p class="order__item-accept-value green-1 bold">1.200.000VNĐ</p>
                </div>
              </div>
              <div class="order__item-footer f jcb aic">
                <div class="order__item-profit-group">
                  <p class="order__item-profit-text second">Lợi nhuận</p>
                  <p class="order__item-profit-price green-1 price-large">6.000.000 VNĐ</p>
                </div>
                <button class="order__item-order-cancel button button--border">
                  <span class="button__el">
                    <span class="button__text">Hủy đơn</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer__container container">
        <div class="footer__inner">
          <ul class="footer__nav">
            <li class="footer__nav-item">
              <svg viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0 0 9h3v8h6v-6h2v6h6V9h3L10 0Zm5 15h-2V9H7v6H5V7.19l5-4.5 5 4.5V15Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Tổng quan</span>
            </li>
            <li class="footer__nav-item">
              <svg viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5c0-2.76-2.24-5-5-5S4 2.24 4 5H2C.9 5 0 5.9 0 7v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2h-2ZM9 2c1.66 0 3 1.34 3 3H6c0-1.66 1.34-3 3-3Zm7 17H2V7h14v12Zm-7-8c-1.66 0-3-1.34-3-3H4c0 2.76 2.24 5 5 5s5-2.24 5-5h-2c0 1.66-1.34 3-3 3Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Sản phẩm</span>
            </li>
            <li class="footer__nav-item active">
              <svg viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.55 11c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 19.01 2H4.21l-.94-2H0v2h2l3.6 7.59-1.35 2.44C3.52 13.37 4.48 15 6 15h12v-2H6l1.1-2h7.45ZM5.16 4h12.15l-2.76 5H7.53L5.16 4ZM6 16c-1.1 0-1.99.9-1.99 2S4.9 20 6 20s2-.9 2-2-.9-2-2-2Zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Đơn hàng</span>
            </li>
            <li class="footer__nav-item">
              <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12h18v-2H0v2Zm0-5h18V5H0v2Zm0-7v2h18V0H0Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Nhiều hơn</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {},
    methods: {}
  }
</script>
