%f-primary {
  font-family: $f-primary;
}
%anti-alias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  @extend %f-primary;
  color: $c-black;

  *{
    @extend %anti-alias;
  }
}

a {
  @include transition(all);
  color: $c-black;
  text-decoration: none;
}

%price-large {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.price-large {
  @extend %price-large;
}

%h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.h3,
h3 {
  @extend %h3;
}

%h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.h5,
h5 {
  @extend %h5;
}

%h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.h6,
h6 {
  @extend %h6;
}

.label,
label {
  @extend %h6;
}

%p5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.p5 {
  @extend %p5;
}

%p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.p,
p {
  @extend %p;
}

%p-small {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.p-small{
  @extend %p-small;
}
