$xxxs: 320px;
$xxs: 445px;
$xs: 620px;
$s: 768px;
$ms: 840px;
$m: 1000px;
$ml: 1160px;
$l: 1200px;
$xl: 1440px;
$xxl: 1600px;

$xxs-max: 444px;
$xs-max: 619px;
$s-max: 767px;
$m-max: 999px;
$l-max: 1199px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$f-primary: "Inter";

// Primary colors
$c-black: #28293D;
$c-second: #8F90A6;

$c-green: #164F44;
$c-green-1: #24695C;
$c-green-2: #36A590;
$c-green-3: #E9F0EF;
$c-green-4: #F3F3F3;

$c-blue: #2B79F7;

$c-black-50: rgba($c-black, 0.5);
$c-white: #fff;
$c-green: #00FA25;
$c-orange: #F57054;
$c-red: red;
$c-red-1: #FFE5E5;
$c-lblue: #E8F0F7;
$c-dblue: #385d7f;
$c-dblue-2: #193263;
$c-gray: #686869;
$c-gray-2: #666666;
$c-gray-3: #B4B7B9;
$c-beige: #EDE6DF;
$c-yellow: #FFC23E;
$c-border-gray: lighten($c-gray, 40%);
$c-outline: #212121;
$c-kumera: #7F6324;
$c-yellow-2: #FDCC72;
$c-light-gray: #404040;
$c-dark-gray: #707070;

$c-border: #C7C9D9;
$border: 1px solid $c-border;
$c-border-white: 1px solid rgba($c-white, 1);
$c-border-red: 1px solid rgba($c-red, 1);

/* Transitions */
$duration: 0.25s;
$speed: 0.2s;
$ease: ease-in-out;
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$transition-default: $duration $ease;

// Layout
$edge-gutter: 20px;
$edge-gutter-s: 40px;
$edge-gutter-m: 80px;

/* Gutters */
$gutter-xxs: 20px;
$gutter-ms: 20px;
$gutter-s: 25px;
$gutter-m: 20px;
$gutter-l: 40px;
$gutter: 40px;
