@font-face {
  font-family: "Miller Display";
  src: url("../fonts/MillerDisplay-Roman.eot");
  src: url("../fonts/MillerDisplay-Roman.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MillerDisplay-Roman.woff2") format("woff2"),
  url("../fonts/MillerDisplay-Roman.woff") format("woff"),
  url("../fonts/MillerDisplay-Roman.ttf") format("ttf"),
  url("../fonts/MillerDisplay-Roman.svg#MillerDisplay-Roman") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Miller Text";
  src: url("../fonts/Miller-Text.eot");
  src: url("../fonts/Miller-Text.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Miller-Text.woff2") format("woff2"),
  url("../fonts/Miller-Text.woff") format("woff"),
  url("../fonts/Miller-Text.ttf") format("ttf"),
  url("../fonts/Miller-Text.svg#Miller-Text") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Neutraface 2 Text";
  src: url("../fonts/Neutraface2Text-Bold.eot");
  src: url("../fonts/Neutraface2Text-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Neutraface2Text-Bold.woff2") format("woff2"),
  url("../fonts/Neutraface2Text-Bold.woff") format("woff"),
  url("../fonts/Neutraface2Text-Bold.ttf") format("ttf"),
  url("../fonts/Neutraface2Text-Bold.svg#Neutraface2Text-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Neutraface 2 Text";
  src: url("../fonts/Neutraface2Text-Book.eot");
  src: url("../fonts/Neutraface2Text-Book.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Neutraface2Text-Book.woff2") format("woff2"),
  url("../fonts/Neutraface2Text-Book.woff") format("woff"),
  url("../fonts/Neutraface2Text-Book.ttf") format("ttf"),
  url("../fonts/Neutraface2Text-Book.svg#Neutraface2Text-Book") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Neutraface 2 Text";
  src: url("../fonts/Neutraface2Text-Demi.eot");
  src: url("../fonts/Neutraface2Text-Demi.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Neutraface2Text-Demi.woff2") format("woff2"),
  url("../fonts/Neutraface2Text-Demi.woff") format("woff"),
  url("../fonts/Neutraface2Text-Demi.ttf") format("ttf"),
  url("../fonts/Neutraface2Text-Demi.svg#Neutraface2Text-Demi") format("svg");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Neutraface 2 Text";
  src: url("../fonts/Neutraface2Text-Light.eot");
  src: url("../fonts/Neutraface2Text-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Neutraface2Text-Light.woff2") format("woff2"),
  url("../fonts/Neutraface2Text-Light.woff") format("woff"),
  url("../fonts/Neutraface2Text-Light.ttf") format("ttf"),
  url("../fonts/Neutraface2Text-Light.svg#Neutraface2Text-Light") format("svg");
  font-style: normal;
  font-weight: 300;
}
