<template>
  <div class="order-details">
    <div class="order-details__header">
      <div class="order-details__header-container container">
        <div class="order-details__header-nav f jcb aic">
          <div class="order-details__header-prev f jcs aic">
            <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 1.41 6 0 0 6l6 6 1.41-1.41L2.83 6l4.58-4.59Z" fill="#28293D"/></svg>
            <h5 class="order-details__header-title h5">Chi tiết đơn hàng</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="order-details__status">
      <div class="order-details__status-container container">
        <button class="order-details__status-button button button--status">
          <span class="button__el">
            <span class="button__text">Hàng đang được lấy</span>
            <span class="button__icon">
              <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 0 .59 1.41 5.17 6 .59 10.59 2 12l6-6-6-6Z" fill="#323232"/></svg>
            </span>
          </span>
        </button>
      </div>
    </div>

    <div class="order-details__main">
      <div class="order-details__main-container container">
        <h5 class="order-details__title">Địa chỉ giao hàng</h5>
        <div class="order-details__address">
          <div class="order-details__address-group f jcb aic">
            <h6 class="order-details__name">Nguyễn Văn A</h6>
            <a href="#" class="h6 blue">Thay đổi</a>
          </div>
          <p class="order-details__phone second">0123 456 789</p>
          <p class="order-details__address-text second">
            3 Newbridge Court<br>
            Chino Hills, CA 91709, United States
          </p>
        </div>

        <h5 class="order-details__title">3 sản phẩm</h5>
        <div class="order-details__products">
          <div class="order-details__product f jcs ais">
            <div class="order-details-product-head">
              <figure class="order-details__product-image image--cover image--loaded ratio" role="img">
                <img class="image__img" src="https://picsum.photos/500/300/?image=111" alt="logo"/>
              </figure>
            </div>
            <div class="order-details-product-body">
              <h6 class="order-details__product-title black">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h6>
              <div class="order-details__product-group f jcb aic">
                <p class="order-details__product-price p-small second">95.000VNĐ</p>
                <p class="order-details__product-qty p-small black">x3</p>
              </div>
            </div>
          </div>
          <div class="order-details__product f jcs ais">
            <div class="order-details-product-head">
              <figure class="order-details__product-image image--cover image--loaded ratio" role="img">
                <img class="image__img" src="https://picsum.photos/500/300/?image=222" alt="logo"/>
              </figure>
            </div>
            <div class="order-details-product-body">
              <h6 class="order-details__product-title black">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h6>
              <div class="order-details__product-group f jcb aic">
                <p class="order-details__product-price p-small second">95.000VNĐ</p>
                <p class="order-details__product-qty p-small black">x3</p>
              </div>
            </div>
          </div>
          <div class="order-details__product f jcs ais">
            <div class="order-details-product-head">
              <figure class="order-details__product-image image--cover image--loaded ratio" role="img">
                <img class="image__img" src="https://picsum.photos/500/300/?image=300" alt="logo"/>
              </figure>
            </div>
            <div class="order-details-product-body">
              <h6 class="order-details__product-title black">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h6>
              <div class="order-details__product-group f jcb aic">
                <p class="order-details__product-price p-small second">95.000VNĐ</p>
                <p class="order-details__product-qty p-small black">x3</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="order-details__title">Thông tin đơn hàng</h5>
        <div class="order-details__content">
          <div class="order-details__content-group f jcb aic">
            <p class="order-details__total-price second">Tổng tiền:</p>
            <p class="order-details__total-price green-1 bold">6.000.000VNĐ</p>
          </div>
          <div class="order-details__content-group f jcb aic">
            <p class="order-details__total-price second">Phí sàn:</p>
            <p class="order-details__total-price second">-1.000VNĐ</p>
          </div>
          <div class="order-details__content-group f jcb aic">
            <p class="order-details__total-price second">Phí ship:</p>
            <p class="order-details__total-price second">-15.000VNĐ</p>
          </div>
          <div class="order-details__content-group f jcb aic">
            <p class="order-details__total-price second">Phí cổng thanh toán:</p>
            <p class="order-details__total-price second">-1.200VNĐ</p>
          </div>
        </div>
        <div class="order-details__result f jcb aic">
          <div class="order-details__profit-group">
            <p class="order-details__profit-text second">Lợi nhuận</p>
            <p class="order-details__profit-price green-1 price-large">6.000.000 VNĐ</p>
          </div>
          <button class="order-details__cancel button button--border">
              <span class="button__el">
                <span class="button__text">Hủy đơn</span>
              </span>
          </button>
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="footer__container container">
        <div class="footer__inner">
          <ul class="footer__nav">
            <li class="footer__nav-item">
              <svg viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0 0 9h3v8h6v-6h2v6h6V9h3L10 0Zm5 15h-2V9H7v6H5V7.19l5-4.5 5 4.5V15Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Tổng quan</span>
            </li>
            <li class="footer__nav-item">
              <svg viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5c0-2.76-2.24-5-5-5S4 2.24 4 5H2C.9 5 0 5.9 0 7v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2h-2ZM9 2c1.66 0 3 1.34 3 3H6c0-1.66 1.34-3 3-3Zm7 17H2V7h14v12Zm-7-8c-1.66 0-3-1.34-3-3H4c0 2.76 2.24 5 5 5s5-2.24 5-5h-2c0 1.66-1.34 3-3 3Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Sản phẩm</span>
            </li>
            <li class="footer__nav-item active">
              <svg viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.55 11c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 19.01 2H4.21l-.94-2H0v2h2l3.6 7.59-1.35 2.44C3.52 13.37 4.48 15 6 15h12v-2H6l1.1-2h7.45ZM5.16 4h12.15l-2.76 5H7.53L5.16 4ZM6 16c-1.1 0-1.99.9-1.99 2S4.9 20 6 20s2-.9 2-2-.9-2-2-2Zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Đơn hàng</span>
            </li>
            <li class="footer__nav-item">
              <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12h18v-2H0v2Zm0-5h18V5H0v2Zm0-7v2h18V0H0Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Nhiều hơn</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {},
    methods: {}
  }
</script>
