<template>
  <div class="product">
    <div class="product__header">
      <div class="product__header-container container">
        <div class="product__header-nav f jcb aic">
          <div class="product__header-prev f jcs aic">
            <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 1.41 6 0 0 6l6 6 1.41-1.41L2.83 6l4.58-4.59Z" fill="#28293D"/></svg>
            <h5 class="product__title h5">Chi tiết sản phẩm</h5>
          </div>
          <div class="product__header-action">
            <svg viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2Zm0 2C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2Zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2Z" fill="#24695C"/></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="product__main">
      <div class="product__gallery block__flickity">
        <flickity ref="flickity" :options="flickityOptions">
          <div class="carousel-cell">
            <figure class="product__gallery-image block__flickity-image image--cover image--loaded ratio" role="img">
              <img class="image__img" src="https://picsum.photos/500/300/?image=11" alt="logo"/>
            </figure>
          </div>
          <div class="carousel-cell">
            <figure class="product__gallery-image block__flickity-image image--cover image--loaded ratio" role="img">
              <img class="image__img" src="https://picsum.photos/500/300/?image=22" alt="logo"/>
            </figure>
          </div>
          <div class="carousel-cell">
            <figure class="product__gallery-image block__flickity-image image--cover image--loaded ratio" role="img">
              <img class="image__img" src="https://picsum.photos/500/300/?image=33" alt="logo"/>
            </figure>
          </div>
        </flickity>
      </div>
      <div class="product__main-container container">
        <div class="product__details relative">
          <div class="product__action">
            <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8H8v6H6V8H0V6h6V0h2v6h6v2Z" fill="#8F90A6"/></svg>
          </div>
          <h6 class="product__main-title">Quần áo thời trang</h6>
          <p class="product__tag">Váy ngắn nữ</p>
          <div class="product__review">
            <div class="product__ratings">
              <div class="product__rating">
                <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
              </div>
              <div class="product__rating">
                <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
              </div>
              <div class="product__rating">
                <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
              </div>
              <div class="product__rating">
                <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
              </div>
              <div class="product__rating">
                <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
              </div>
            </div>
            <div class="product__count p-small">(10)</div>
          </div>
          <div class="product__qty p">
            <div class="product__qty-text">Đơn vị:</div>
            <div class="product__qty-value">Gói</div>
          </div>
          <div class="product__price p">
            <div class="product__price-text">Giá gốc:</div>
            <div class="product__price-value">500.000</div>
          </div>
          <div class="product__new-price p">
            <div class="product__new-price-text">Chiết khấu:</div>
            <div class="product__new-price-value bold">500.000</div>
          </div>
          <p class="product__description black">
            Short dress in soft cotton jersey with decorative buttons down the front and a wide, frill-trimmed square neckline with concealed elastication. Elasticated seam under the bust and short puff sleeves with a small frill trim.
          </p>
        </div>
        <ul class="product__attributes">
          <li>
            <p class="product__attribute-text p5">Chi tiết vận đơn</p>
            <div class="product__attribute-icon">
              <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 0 .59 1.41 5.17 6 .59 10.59 2 12l6-6-6-6Z" fill="#323232"/></svg>
            </div>
          </li>
          <li>
            <p class="product__attribute-text p5">Chính sách</p>
            <div class="product__attribute-icon">
              <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 0 .59 1.41 5.17 6 .59 10.59 2 12l6-6-6-6Z" fill="#323232"/></svg>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="suggestions">
      <div class="suggestions__container container">
        <div class="suggestions__inner">
          <h5 class="suggestions__title">Gợi ý cho bạn</h5>

          <div class="suggestions__grid">
            <div class="suggestions__item">
              <div class="suggestions__item-head">
                <figure class="suggestions__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=1" alt="logo"/>
                </figure>
                <div class="suggestions__item-action">
                  <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8H8v6H6V8H0V6h6V0h2v6h6v2Z" fill="#8F90A6"/></svg>
                </div>
              </div>
              <div class="suggestions__item-body">
                <p class="suggestions__item-title p5 uppercase">ÁO SWEATSHIRT CỔ TRÒN SHATTERED...</p>
                <div class="suggestion__item-review">
                  <div class="suggestions__item-ratings">
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                  </div>
                  <div class="suggestions__item-count p-small">(10)</div>
                </div>
                <div class="suggestion__item-qty p">
                  <div class="suggestion__item-qty-text">Đơn vị:</div>
                  <div class="suggestion__item-qty-value">Gói</div>
                </div>
                <div class="suggestion__item-price p">
                  <div class="suggestion__item-price-text">Giá gốc:</div>
                  <div class="suggestion__item-price-value">500.000</div>
                </div>
                <div class="suggestion__item-new-price p">
                  <div class="suggestion__item-new-price-text">Chiết khấu:</div>
                  <div class="suggestion__item-new-price-value bold">500.000</div>
                </div>
              </div>
            </div>
            <div class="suggestions__item">
              <div class="suggestions__item-head">
                <figure class="suggestions__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=1" alt="logo"/>
                </figure>
                <div class="suggestions__item-action">
                  <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8H8v6H6V8H0V6h6V0h2v6h6v2Z" fill="#8F90A6"/></svg>
                </div>
              </div>
              <div class="suggestions__item-body">
                <p class="suggestions__item-title p5 uppercase">ÁO SWEATSHIRT CỔ TRÒN SHATTERED...</p>
                <div class="suggestion__item-review">
                  <div class="suggestions__item-ratings">
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                  </div>
                  <div class="suggestions__item-count p-small">(10)</div>
                </div>
                <div class="suggestion__item-qty p">
                  <div class="suggestion__item-qty-text">Đơn vị:</div>
                  <div class="suggestion__item-qty-value">Gói</div>
                </div>
                <div class="suggestion__item-price p">
                  <div class="suggestion__item-price-text">Giá gốc:</div>
                  <div class="suggestion__item-price-value">500.000</div>
                </div>
                <div class="suggestion__item-new-price p">
                  <div class="suggestion__item-new-price-text">Chiết khấu:</div>
                  <div class="suggestion__item-new-price-value bold">500.000</div>
                </div>
              </div>
            </div>
            <div class="suggestions__item">
              <div class="suggestions__item-head">
                <figure class="suggestions__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=1" alt="logo"/>
                </figure>
                <div class="suggestions__item-action">
                  <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8H8v6H6V8H0V6h6V0h2v6h6v2Z" fill="#8F90A6"/></svg>
                </div>
              </div>
              <div class="suggestions__item-body">
                <p class="suggestions__item-title p5 uppercase">ÁO SWEATSHIRT CỔ TRÒN SHATTERED...</p>
                <div class="suggestion__item-review">
                  <div class="suggestions__item-ratings">
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                  </div>
                  <div class="suggestions__item-count p-small">(10)</div>
                </div>
                <div class="suggestion__item-qty p">
                  <div class="suggestion__item-qty-text">Đơn vị:</div>
                  <div class="suggestion__item-qty-value">Gói</div>
                </div>
                <div class="suggestion__item-price p">
                  <div class="suggestion__item-price-text">Giá gốc:</div>
                  <div class="suggestion__item-price-value">500.000</div>
                </div>
                <div class="suggestion__item-new-price p">
                  <div class="suggestion__item-new-price-text">Chiết khấu:</div>
                  <div class="suggestion__item-new-price-value bold">500.000</div>
                </div>
              </div>
            </div>
            <div class="suggestions__item">
              <div class="suggestions__item-head">
                <figure class="suggestions__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=1" alt="logo"/>
                </figure>
                <div class="suggestions__item-action">
                  <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8H8v6H6V8H0V6h6V0h2v6h6v2Z" fill="#8F90A6"/></svg>
                </div>
              </div>
              <div class="suggestions__item-body">
                <p class="suggestions__item-title p5 uppercase">ÁO SWEATSHIRT CỔ TRÒN SHATTERED...</p>
                <div class="suggestion__item-review">
                  <div class="suggestions__item-ratings">
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                    <div class="suggestions__item-rating">
                      <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m6 9.95-3.123 1.594a.5.5 0 0 1-.72-.533l.593-3.353L.254 5.297a.5.5 0 0 1 .274-.858L3.99 3.95 5.554.876a.5.5 0 0 1 .892 0L8.009 3.95l3.463.489a.5.5 0 0 1 .274.858L9.25 7.658l.592 3.353a.5.5 0 0 1-.72.533L6 9.95Z" fill="#FC0"/></svg>
                    </div>
                  </div>
                  <div class="suggestions__item-count p-small">(10)</div>
                </div>
                <div class="suggestion__item-qty p">
                  <div class="suggestion__item-qty-text">Đơn vị:</div>
                  <div class="suggestion__item-qty-value">Gói</div>
                </div>
                <div class="suggestion__item-price p">
                  <div class="suggestion__item-price-text">Giá gốc:</div>
                  <div class="suggestion__item-price-value">500.000</div>
                </div>
                <div class="suggestion__item-new-price p">
                  <div class="suggestion__item-new-price-text">Chiết khấu:</div>
                  <div class="suggestion__item-new-price-value bold">500.000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer__container container">
        <div class="footer__inner">
          <ul class="footer__nav">
            <li class="footer__nav-item">
              <svg viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0 0 9h3v8h6v-6h2v6h6V9h3L10 0Zm5 15h-2V9H7v6H5V7.19l5-4.5 5 4.5V15Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Tổng quan</span>
            </li>
            <li class="footer__nav-item active">
              <svg viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5c0-2.76-2.24-5-5-5S4 2.24 4 5H2C.9 5 0 5.9 0 7v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2h-2ZM9 2c1.66 0 3 1.34 3 3H6c0-1.66 1.34-3 3-3Zm7 17H2V7h14v12Zm-7-8c-1.66 0-3-1.34-3-3H4c0 2.76 2.24 5 5 5s5-2.24 5-5h-2c0 1.66-1.34 3-3 3Z" fill="#24695C"/></svg>
              <span class="footer__nav-item-text p-small">Sản phẩm</span>
            </li>
            <li class="footer__nav-item">
              <svg viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.55 11c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 19.01 2H4.21l-.94-2H0v2h2l3.6 7.59-1.35 2.44C3.52 13.37 4.48 15 6 15h12v-2H6l1.1-2h7.45ZM5.16 4h12.15l-2.76 5H7.53L5.16 4ZM6 16c-1.1 0-1.99.9-1.99 2S4.9 20 6 20s2-.9 2-2-.9-2-2-2Zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Đơn hàng</span>
            </li>
            <li class="footer__nav-item">
              <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12h18v-2H0v2Zm0-5h18V5H0v2Zm0-7v2h18V0H0Z" fill="#8F90A6"/></svg>
              <span class="footer__nav-item-text p-small">Nhiều hơn</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Flickity from 'vue-flickity';

  export default {
    components: {
      Flickity
    },
    data() {
      return {
        flickityOptions: {
          cellAlign: 'left',
          contain: true,
          percentPosition: true,
          rightToLeft: false,
          initialIndex: 3,
          prevNextButtons: false,
          pageDots: true,
          wrapAround: false,
          freeScroll: true
          // any options from Flickity can be used
        }
      }
    },
    methods: {
      next() {
        this.$refs.flickity.next();
      },

      previous() {
        this.$refs.flickity.previous();
      }
    }
  }
</script>
