@font-face {
    font-family: "Neutraface2Text-Bold";
    src: url("Neutraface2Text-Bold.eot");
    src: url("Neutraface2Text-Bold.eot?#iefix") format("embedded-opentype"),
         url("Neutraface2Text-Bold.woff2") format("woff2"),
         url("Neutraface2Text-Bold.woff") format("woff"),
         url("Neutraface2Text-Bold.ttf") format("ttf"),
         url("Neutraface2Text-Bold.svg#Neutraface2Text-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}