@font-face {
    font-family: "Neutraface2Text-Book";
    src: url("Neutraface2Text-Book.eot");
    src: url("Neutraface2Text-Book.eot?#iefix") format("embedded-opentype"),
         url("Neutraface2Text-Book.woff2") format("woff2"),
         url("Neutraface2Text-Book.woff") format("woff"),
         url("Neutraface2Text-Book.ttf") format("ttf"),
         url("Neutraface2Text-Book.svg#Neutraface2Text-Book") format("svg");
    font-style: normal;
    font-weight: 300;
}