@font-face {
    font-family: "Neutraface2Text-Demi";
    src: url("Neutraface2Text-Demi.eot");
    src: url("Neutraface2Text-Demi.eot?#iefix") format("embedded-opentype"),
         url("Neutraface2Text-Demi.woff2") format("woff2"),
         url("Neutraface2Text-Demi.woff") format("woff"),
         url("Neutraface2Text-Demi.ttf") format("ttf"),
         url("Neutraface2Text-Demi.svg#Neutraface2Text-Demi") format("svg");
    font-style: normal;
    font-weight: 600;
}