@font-face {
    font-family: "Neutraface2Text-Light";
    src: url("Neutraface2Text-Light.eot");
    src: url("Neutraface2Text-Light.eot?#iefix") format("embedded-opentype"),
         url("Neutraface2Text-Light.woff2") format("woff2"),
         url("Neutraface2Text-Light.woff") format("woff"),
         url("Neutraface2Text-Light.ttf") format("ttf"),
         url("Neutraface2Text-Light.svg#Neutraface2Text-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}