.collection__header {
  margin-bottom: 15px;
  padding: 44px 0 16px;
  background-color: $c-white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.collection__header-prev {
  svg {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    pointer-events: none;
  }
}

.collection__header-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
  }
}

.collection__search {
  margin-bottom: 24px;

  .text-input {
    width: calc(100% - 61px);
    padding-bottom: 0;
  }
}
