.dashboard {
  padding-top: 46px;
}

.dashboard__heading {
  margin-bottom: 30px;
}

.dashboard__title {
  padding-bottom: 10px;
}

.dashboard__grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.dashboard__item {
  width: calc(100% / 2 - 16px);
  margin: 0 8px 16px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
}

.dashboard__item-inner {
  height: 100%;
  padding: 16px;
}

.dashboard__item-image {
  width: 48px;
  height: 48px;
  margin: 0 auto 16px;
}

.dashboard__item-title {
  text-align: center;
}
