.header__logo {
  padding: 20px;

  img {
    width: 80px;
    height: 80px;
  }
}

.header__nav-item {
  position: relative;
  display: block;
  padding: 15px;
  color: #fff;
  border-bottom: 1px solid #333333;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    background: #535353;
  }

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
  }
}

.header__nav-item svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  path {
    fill: white;
  }
}

.header__nav-item.active {
  background: #535353;
}
