.industry__header {
  min-height: 121px;
  padding: 60px 0 16px;
  background-color: $c-green-1;
}

.industry__header-search .text-input {
  width: calc(100% - 61px);
  padding-bottom: 0;
}

.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 16px;
  border-radius: 8px;
  background-color: $c-green-3;
  cursor: pointer;
}

.hamburger__icon {
  display: block;
  pointer-events: none;
  svg {
    width: 18px;
    height: 12px;
    pointer-events: none;
  }
}

.hamburger__notification {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 8px;
  height: 8px;
  pointer-events: none;

  svg {
    width: 8px;
    height: 8px;
    pointer-events: none;
  }
}

.industry__filter {
  margin-bottom: 16px;
  background-color: $c-green-4;
}

.industry__filter-inner {
  width: 100%;
  overflow-x: scroll;
}

.industry__tags {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 170%;
  padding: 16px 0;
  overflow-x: auto;
}

.industry__tag {
  margin-right: 16px;
  color: $c-green-1;
}

.industry__tag.active {
  padding: 4px 6px;
  border-radius: 8px;
  color: $c-white;
  background-color: $c-green-1;
}

.block__flickity,
.industry__flickity {
  margin-bottom: 24px;
  padding-bottom: 30px;

  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    background: $c-green-1;
  }

  .flickity-page-dots .dot.is-selected {

  }

  .flickity-page-dots {
    bottom: -30px;
  }
}

.carousel-cell {
  width: 100%;
  min-width: 343px;
  min-height: 193px;
  margin: 0 8px;
  border-radius: 8px;
  overflow: hidden;
}

.block__flickity-image,
.industry__flickity-image {
  min-width: 343px;
  min-height: 193px;
  border-radius: 8px;
  overflow: hidden;
}

.suggestions__title {
  padding-bottom: 16px;
  color: $c-green-1;
}

.suggestions__grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -8px;
  padding-bottom: 80px;
}

.suggestions__item {
  width: calc(100% / 2 - 16px);
  margin: 0 8px 16px;
}

.suggestions__item-head {
  position: relative;
  height: 164px;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.suggestions__item-image {
  height: 164px;
  border-radius: 8px;
  overflow: hidden;
}

.suggestions__item-title {
  margin-bottom: 8px;
}

.suggestion__item-review {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.suggestions__item-ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
}

.suggestions__item-rating {
  margin-right: 2px;
  svg {
    width: 12px;
    height: 12px;
  }
}

.suggestions__item-count {
  color: $c-second;
}

.suggestion__item-qty,
.suggestion__item-price,
.suggestion__item-new-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  color: $c-second;
}

.suggestion__item-new-price-value {
  color: $c-green-1;
}

.suggestions__item-action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  z-index: 2;
  border-radius: 100%;
  background: $c-white;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);

  svg {
    width: 14px;
    height: 14px;
    pointer-events: none;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  background-color: $c-white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}

.footer__inner {
  padding: 15px 0 8px;
}

.footer__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
  }
}

.footer__nav-item-text {
  color: $c-second;
}

.footer__nav-item.active {
  svg {
    path {
      fill: $c-green-1;
    }
  }

  .footer__nav-item-text {
    color: $c-green-1;
  }
}
