.login {
  padding-top: 46px;
}

.login__logo {
  width: 100%;
}

.login__logo-image {
  width: 103px;
  height: auto;
  margin: 0 auto 48px;
}

.login__title {
  padding-bottom: 24px;
}

.login__submit {
  margin: 32px 0 24px;
}
