.order {
  margin-bottom: 80px;
}
.order__header {
  padding: 60px 0 24px;
  background-color: $c-white;
}

.order__header-button {
  min-width: 146px;
  height: 40px;
}

.order__search {
  margin-bottom: 24px;

  .text-input {
    width: calc(100% - 61px);
    padding-bottom: 0;
  }
}

.order__item {
  margin-bottom: 16px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  overflow: hidden;
}

.order__item-head {
  padding: 12px 16px;
  border-bottom: $border;
}

.order__item-title {
  margin-right: 28px;
}

.order__item-body {
  padding: 16px;
}

.order__item-group {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order__item-profit-text {
  margin-bottom: 8px;
}

.order__item-footer {
  padding: 16px;
  background-color: $c-green-4;
}
