.order-details {
  margin-bottom: 120px;
}

.order-details__header {
  margin-bottom: 15px;
  padding: 44px 0 16px;
  background-color: $c-white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.order-details__header-prev {
  svg {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    pointer-events: none;
  }
}

.order-details__status {
  margin-bottom: 32px;
}

.order-details__title {
  margin-bottom: 16px;
}

.order-details__address {
  margin-bottom: 32px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  overflow: hidden;
}

.order-details__address-group {
  margin-bottom: 5px;
}

.order-details__phone {
  margin-bottom: 8px;
}

.order-details__product {
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 32px;
  }
}

.order-details-product-head {
  width: 93px;
  margin-right: 16px;
}

.order-details__product-image {
  width: 93px;
  height: 93px;
  box-sizing: border-box;
  border-radius: 5.69231px;
  overflow: hidden;
}

.order-details-product-body {
  width: calc(100% - 109px);
}

.order-details__product-title {
  margin-bottom: 8px;
}

.order-details__content-group {
  margin-bottom: 8px;
}

.order-details__content {
  margin-bottom: 40px;
}

.order__item-group {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-details__profit-text {
  margin-bottom: 8px;
}

.order-details__result {
  margin: 0 -16px;
  padding: 16px;
  background-color: $c-green-4;
}

