.product__header {
  margin-bottom: 15px;
  padding: 44px 0 16px;
  background-color: $c-white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.product__header-prev {
  svg {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    pointer-events: none;
  }
}

.product__header-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
  }
}

.product__gallery {
  margin-bottom: 24px;
}

.product__main-title {
  margin-bottom: 5px;
}

.product__tag {
  margin-bottom: 5px;
}

.product__review {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.product__ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.product__rating {
  margin-right: 2px;
  svg {
    width: 12px;
    height: 12px;
  }
}

.product__count {
  color: $c-second;
}

.product__qty,
.product__price,
.product__new-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: $c-second;
}

.product__new-price-value {
  color: $c-green-1;
}

.product__description {
  margin: 21px 0 16px;
}

.product__attributes {
  display: block;
  width: 100%;

  li {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    border-top: $border;

    &:last-child {
      border-bottom: $border;
      margin-bottom: 24px;
    }
  }

  svg {
    width: 12px;
    height: 12px;
    pointer-events: none;
  }
}

.product__attribute-text {
  pointer-events: none;
}

.product__gallery {
  padding-bottom: 0;

  .flickity-page-dots {
    bottom: 10px;
  }

  .flickity-page-dots .dot {
    background-color: $c-green-3;
  }

  .flickity-page-dots .dot.is-selected {
    background-color: $c-green-1;
  }

  .carousel-cell {
    width: 275px;
    min-width: initial;
    margin-left: 0;
    margin-right: 7px;
    border-radius: 8px;

    &:first-child {
      width: 291px;
      padding-left: 16px;
      min-width: initial;
    }
  }
  .block__flickity-image {
    min-width: initial;
    min-height: 275px;
    border-radius: 8px;
  }
}

.product__action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  z-index: 2;
  border-radius: 100%;
  background: $c-white;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);

  svg {
    width: 14px;
    height: 14px;
    pointer-events: none;
  }
}
