.shipping {
  margin-bottom: 120px;
}

.shipping__header {
  margin-bottom: 32px;
  padding: 44px 0 16px;
  background-color: $c-white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.shipping__header-prev {
  svg {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    pointer-events: none;
  }
}

.shipping__status {
  margin-bottom: 32px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  overflow: hidden;
}

.shipping__title {
  margin-bottom: 16px;
}

.shipping__status {
  position: relative;
  padding-left: 91px;
}

.shipping__time-line {
  position: relative;
  min-height: 55px;

  &:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -20px;
    margin-left: -1px;
    width: 1px;
    height: 100%;
    background: $c-border;
    z-index: 1;
  }

  &:last-child {
    &:before {
      content: none;
    }
  }

  .date {
    position: absolute;
    top: -6px;
    left: -75px;
    width: auto;
  }

  .marker {
    position: absolute;
    top: 7px;
    left: -25px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: $c-second;
    z-index: 9999;
  }

  .content {
    width: 100%;
  }
}

.shipping__time-line.active {
  .marker {
    background: $c-green-1;
  }

  .content {
    font-weight: bold;
    color: $c-green-1;
  }
}
