.signup {
  padding-top: 46px;
}

.signup__logo {
  width: 100%;
}

.signup__logo-image {
  width: 103px;
  height: auto;
  margin: 0 auto 48px;
}

.signup__title {
  padding-bottom: 24px;
}

.signup__submit {
  margin: 32px 0 24px;
}

.group-radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-input {
  margin: 20px 20px 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: $border;
  border-radius: 100%;
  background: $c-white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: $c-green-1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
