<template>
  <div class="dashboard">
    <div class="dashboard__container container">
      <div class="dashboard__inner">
        <div class="dashboard__heading">
          <h5 class="dashboard__title">Chọn ngành hàng kinh doanh của bạn</h5>
          <p class="dashboard__description p5 second">Để chúng tôi có thể giúp bạn có 1 trải nghiệm tuyệt vời nhất tại Bzi.</p>
        </div>
        <div class="dashboard__body">
          <div class="dashboard__grid">
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo"/>
                </figure>
                <p class="dashboard__item-title">Thời trang</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Bar - Cafe & Nhà hàng Karaoke</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Tạp hóa & Siêu thị mini</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Điện thoại & điện máy</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Nội thất & Gia dụng</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Nhà thuốc</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Mỹ phẩm</p>
              </div>
            </div>
            <div class="dashboard__item">
              <div class="dashboard__item-inner">
                <figure class="dashboard__item-image image--cover image--loaded ratio" role="img">
                  <img class="image__img" src="https://picsum.photos/500/300/?image=10" alt="logo">
                </figure>
                <p class="dashboard__item-title">Nông sản & Thực phẩm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
      }
    }
  }
</script>
