<template>
  <div class="login">
    <div class="login__container container">
      <div class="login__inner">
        <div class="login__logo">
          <figure class="login__logo-image image--initial image--loaded ratio" role="img">
            <img class="image__img" src="../../assets/logo.png" alt="logo">
          </figure>
        </div>

        <h3 class="login__title black">Đăng nhập</h3>
        <form class="login__form">
          <div class="login__form-inner">
            <div class="text-input">
              <input id="phone" class="text-input__el" type="text" placeholder="Nhập số điện thoại" />
              <label for="phone" class="text-input__label">Số điện thoại</label>
              <p class="text-input__error red p1">Số điện thoại không hợp lệ.</p>
            </div>
            <div class="text-input">
              <input id="password" class="text-input__el" type="number" placeholder="Nhập mật khẩu" />
              <label for="password" class="text-input__label">Mật khẩu</label>
              <p class="text-input__error red p1">Mật khẩu không hợp lệ.</p>
            </div>
            <button type="submit" name="login-submit" class="login__submit button button--primary">
            <span class="button__el">
              <span class="button__text">Đăng nhập</span>
            </span>
            </button>
            <p class="login__text align-c">
              <span>Bạn chưa có tài khoản?</span>
              <a class="h6 blue" href="#">Đăng ký ngay</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
      }
    }
  }
</script>
