<template>
  <div id="app">
    <div class="wrapper">
      <!--<Header></Header>-->
      <main class="main" tabindex="-1" role="main">
        <router-view class="view"></router-view>
      </main>
    </div>
  </div>
</template>

<script>
  export default {
    components: {},
    data () {
      return {
      }
    }
  }
</script>
<style lang="scss">
  @import './sass/style.scss';
</style>
